
.login {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
    border-radius: 10px;
    background-color: rgb(242, 249, 252);
}

